# 默认忽略的文件
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HR_Manager.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# 数据源本地存储已忽略文件
/../../../../../../:\ASP.NET_Code\HR_Manager\.idea\.idea.HR_Manager\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
